src/drcfs-edge-sample.json
[{"id":"38779cd0.448eb4","type":"tab","label":"drcfs-edge-sample","disabled":false,"info":""},{"id":"2477a18b.b9c1ae","type":"comment","z":"38779cd0.448eb4","name":"検索要求を受信","info":"指定回数分検索要求を刈り取り。\n終了したら、ログをはく。","x":720,"y":240,"wires":[]},{"id":"fa5b5a6.8dad4a8","type":"inject","z":"38779cd0.448eb4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":120,"wires":[["b30d3332.0b58b"]]},{"id":"b30d3332.0b58b","type":"function","z":"38779cd0.448eb4","name":"load config","func":"var config = {}\nvar prop = global.get(\"propertiesparser\");\ntry {\n    config = prop.read(\"/root/.node-red/config.properties\")\n    node.log(\"load config: \" + JSON.stringify(config));\n    global.set('config', config)\n\n    msg.baseUrl = config[\"BASEURL\"]\n    msg.tenantId = config[\"IOTPF_TENNANT_ID\"]\n    msg.resource = config[\"IOTPF_DRCFS_PREFIX\"] + \"/request/clients/\" + config[\"GW_ID\"] \n    msg.accessCode = config[\"IOTPF_DRCFS_ACCESSCODE\"]\n    msg.query = \"_present\"\n    msg.payload = msg.query //\"finish getting order\"\n} catch (error) {\n    node.error(error)\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["9785c3f8.06dce","b8765def.5c5d9","f4393c50.46997"]]},{"id":"d3529ee0.2139c","type":"comment","z":"38779cd0.448eb4","name":"COPYRIGHT Fujitsu Limited 2019","info":"","x":180,"y":40,"wires":[]},{"id":"bea807be.308c88","type":"function","z":"38779cd0.448eb4","name":"set global variables","func":"global.set('date', msg.payload._date)\n\nvar reqid = msg.payload[0]._data.req_id \nmsg.reqid = reqid\n\nvar preprocParams = msg.payload[0]._data\n\nvar reqMap = global.get('reqMap')  //<req_id, msg.payload(JSON)>\nif (reqMap === undefined) reqMap = {}\n\nreqMap[reqid] = preprocParams\nglobal.set('reqMap', reqMap)\n\nvar idxByReqId = global.get('idxByReqId')  //<req_id, <idx_id>>\nif (idxByReqId === undefined) idxByReqId = {}\n\nvar idx_idsClone = Object.create(preprocParams.idx_ids)\nidxByReqId[reqid] = idx_idsClone\n\n//idxByReqId[reqid] = preprocParams.idx_ids\n/*idxByReqId[reqid] = new Set()\n\nfor (i=0; i<preprocParams.idx_ids.length; i++) {\n    console.log(preprocParams.idx_ids[i])\n    idxByReqId[reqId].add(preprocParams.idx_ids[i]);\n}\n*/\nglobal.set('idxByReqId', idxByReqId)\n\nmsg.len = idxByReqId[reqid].length\nmsg.idxByReqId = idxByReqId\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":160,"wires":[["41e5d63c.5ab358"]]},{"id":"ef78df05.15688","type":"function","z":"38779cd0.448eb4","name":"set progress","func":"var conf = global.get('config')\nvar reqid = msg.reqid\n\nvar reqMap = global.get('reqMap')  //<req_id, msg.payload(JSON)>\nif (reqMap === undefined || JSON.stringify(reqMap) == \"{}\") {\n    msg.payload = \"No progress\"\n    return [null, msg];\n}\nvar idxByReqId = global.get('idxByReqId')  //<req_id, <idx_id>>\nvar idxList = idxByReqId[reqid]\n\n//idxList.delete(msg.idxId);\nmsg.baseUrl = conf[\"BASEURL\"]\nmsg.tenantId = conf[\"IOTPF_TENNANT_ID\"]\nmsg.resource = conf[\"IOTPF_DRCFS_PREFIX\"] + \"/response/progress/\" + conf[\"GW_ID\"]\nmsg.accessCode = conf[\"IOTPF_DRCFS_ACCESSCODE\"]\nmsg.query =\"\"\n\nfor(var reqid in reqMap) {\n    if (idxByReqId.hasOwnProperty(reqid)) {\n        if (idxByReqId[reqid] === null) {\n            node.send([null, msg])\n            break;\n        }\n        var progress = {}\n        progress[\"req_id\"] = reqid\n        progress[\"preproc\"] = reqMap[reqid][\"preproc\"]\n        progress[\"num_tasks\"] = reqMap[reqid][\"idx_ids\"].length\n        var remainingTasks = idxByReqId[reqid].length\n        var completeTasks = progress[\"num_tasks\"] - remainingTasks\n        var complete = Number.parseInt(completeTasks/progress[\"num_tasks\"]*100)\n        progress[\"%complete\"] = complete\n        progress[\"gw_id\"] = conf[\"GW_ID\"]\n        progress[\"date\"] = new Date().toISOString()\n        msg.payload = progress\n        node.send([msg, null])\n    }\n}\n","outputs":"2","noerr":0,"x":710,"y":460,"wires":[["86b62d6b.a8281"],["6ee99185.5e3bd"]]},{"id":"83321ba6.42a578","type":"comment","z":"38779cd0.448eb4","name":"各前処理指示の前処理進捗を10s間隔で送信","info":"reqidに対応するidxidのうち、\n送信完了済みのデータをパーセンテージで送信。","x":590,"y":500,"wires":[]},{"id":"9785c3f8.06dce","type":"trigger","z":"38779cd0.448eb4","op1":"","op2":"0","op1type":"str","op2type":"str","duration":"-10","extend":false,"units":"s","reset":"","name":"","x":510,"y":460,"wires":[["ef78df05.15688"]]},{"id":"f9acfbda.3ca6e8","type":"switch","z":"38779cd0.448eb4","name":"type check","property":"payload[0]._data.type","propertyType":"msg","rules":[{"t":"cont","v":"cancel","vt":"str"},{"t":"cont","v":"search","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":1510,"y":160,"wires":[["c4ab15d3.66fc78"],["bea807be.308c88"],["977ccab6.2edda8"]]},{"id":"c4ab15d3.66fc78","type":"function","z":"38779cd0.448eb4","name":"cancel","func":"var reqid = msg.payload[0]._data.req_id\nvar reqMap = global.get('reqMap')  //<req_id, msg.payload(JSON)>\nvar preprocParams = reqMap[reqid]\nif (preprocParams === undefined) {\n    node.log(\"Preprocessing has already been completed. req_id=\"+reqid)\n\n    \n} else {\n    node.log(\"Preprocessing is canceled. req_id=\"+reqid)\n    msg.reqid = reqid\n    \n    var idxByReqId = global.get('idxByReqId')  //<req_id, <idx_id, gen_time>>\n\n    idxByReqId[reqid] = null\n    reqMap[reqid] = null\n    \n    global.set('reqMap', reqMap)  //<req_id, msg.payload(JSON)>\n    global.set('idxByReqId', idxByReqId)  //<req_id, <idx_id, gen_time>>\n\n}\nmsg.payload.idxByReqId = idxByReqId\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":40,"wires":[["d8aef0d4.514ce"]]},{"id":"8b57061e.d8e618","type":"comment","z":"38779cd0.448eb4","name":"キャンセル処理","info":"キャンセル指示を受信した場合、\nglobal変数に定義した該当リクエストidにnullを代入し、\nデータ送信ループを停止させる。\n\n","x":1740,"y":80,"wires":[]},{"id":"b8765def.5c5d9","type":"iotpf http","z":"38779cd0.448eb4","name":"getting search order","method":"GET","ret":"obj","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":740,"y":200,"wires":[["f0079fa.100416","f7d24498.17ff68"]]},{"id":"86b62d6b.a8281","type":"iotpf http","z":"38779cd0.448eb4","name":"inform progress","method":"PUT","ret":"txt","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":900,"y":420,"wires":[["2004ee9f.50c192"]]},{"id":"d3951dda.d74f1","type":"switch","z":"38779cd0.448eb4","name":"completed sending data ?","property":"len","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":310,"y":740,"wires":[["828561af.ca721"],["3837ccdf.b6cc34"],["ad5a7eaa.d743b"]]},{"id":"828561af.ca721","type":"function","z":"38779cd0.448eb4","name":"set raw data","func":"var conf = global.get('config')\nvar process = global.get('process')\n\nvar reqid = msg.reqid\nvar idxByReqId = global.get('idxByReqId')\n\n\nmsg.baseUrl = conf[\"BASEURL\"]\nmsg.tenantId = conf[\"IOTPF_TENNANT_ID\"]\n\nmsg.resource = conf[\"IOTPF_DATA_RESOURCE\"]\nmsg.accessCode = conf[\"IOTPF_DRCFS_ACCESSCODE\"]\nmsg.query =\"\"\nmsg.filename = conf[\"IMG_PATH\"] + \"/\" + idxByReqId[reqid][0] +\"-ql.jpg\"\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":740,"wires":[["12910237.3d6f1e"]]},{"id":"5aa38618.0d0208","type":"iotpf http","z":"38779cd0.448eb4","name":"connect to IoTPF","method":"PUT","ret":"txt","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":890,"y":840,"wires":[["3c8dee20.f7dbc2","1d52bdb.d415442"]]},{"id":"67ab7d7f.b44204","type":"function","z":"38779cd0.448eb4","name":"checking idx_id","func":"var idxByReqId = global.get(\"idxByReqId\")\nvar reqid = msg.reqid\n\nconsole.log(idxByReqId[reqid])\n\nif(idxByReqId[reqid]===null){ //キャンセルされた場合\n    msg.len = null\n}else{                           //送信中の場合\n    idxByReqId[reqid].shift()   //先頭の要素（送信済id)を削除\n    msg.len = idxByReqId[reqid].length\n    global.set(\"idxByReqId\", idxByReqId)\n}\n\nnode.log(\"checking idx_id msg.len is:\" + msg.len + \"shifted\"+ idxByReqId[reqid])\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["bbbee2bf.7f5dc","d3951dda.d74f1"]]},{"id":"a8ed532c.22806","type":"function","z":"38779cd0.448eb4","name":"sending Completed Signal","func":"var conf = global.get('config')\nvar reqid = msg.reqid\nvar reqMap = global.get('reqMap')\n\nmsg.baseUrl = conf[\"BASEURL\"]\nmsg.tenantId = conf[\"IOTPF_TENNANT_ID\"]\nmsg.resource = conf[\"IOTPF_DRCFS_PREFIX\"] + \"/response/sent_flags/\" + conf[\"GW_ID\"]\nmsg.accessCode = conf[\"IOTPF_DRCFS_ACCESSCODE\"]\nmsg.query =\"\"\n\n//正常系を設定\nvar complete = {}\ncomplete[\"req_id\"] = reqid\ncomplete[\"gw_id\"] = conf[\"GW_ID\"]\ncomplete[\"preproc\"] = reqMap[reqid][\"preproc\"]\ncomplete[\"status\"] = \"succeeded\"\n\nmsg.payload = complete\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1470,"y":940,"wires":[["69d9e886.9fb7d8"]]},{"id":"a48354d7.e5b6b8","type":"comment","z":"38779cd0.448eb4","name":"送信完了通知","info":"","x":1430,"y":980,"wires":[]},{"id":"163d7835.90b628","type":"comment","z":"38779cd0.448eb4","name":"進捗100%","info":"","x":1000,"y":980,"wires":[]},{"id":"b0509006.2d7ae","type":"comment","z":"38779cd0.448eb4","name":"データがすべて送信された場合","info":"データ送信先のバイナリリソースを送信\n送信完了通知\n進捗100%通知\nを実行する","x":650,"y":980,"wires":[]},{"id":"70f9bfad.b70f4","type":"function","z":"38779cd0.448eb4","name":"delete global variables","func":"var reqid = msg.reqid\nvar reqMap = global.get('reqMap')\nvar idxByReqId = global.get('idxByReqId')\n\nnode.log(reqMap)\nnode.log(idxByReqId)\n\ndelete reqMap[reqid]\ndelete idxByReqId[reqid]\n\nglobal.set('reqMap', reqMap)\nglobal.set('idxByReqId', idxByReqId)\n\nmsg.payload = reqid + \"execute sending data correctly\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":940,"wires":[["267062a1.8e587e"]]},{"id":"5aa96134.a5b44","type":"comment","z":"38779cd0.448eb4","name":"metadata 送信","info":"指定回数メタデータを送信し、\n終了したら、終了ログを吐く","x":130,"y":1160,"wires":[]},{"id":"3f63a42b.277b6c","type":"function","z":"38779cd0.448eb4","name":"set metadata","func":"var conf = global.get('config')\nvar process = global.get('process')\nvar dataset = flow.get('dataset')\nvar i = msg.i\n\nmsg.baseUrl = conf[\"BASEURL\"]\nmsg.tenantId = conf[\"IOTPF_TENNANT_ID\"]\nmsg.resource = conf[\"IOTPF_DRCFS_PREFIX\"] + \"/meta/publish\"\nmsg.accessCode = conf[\"IOTPF_DRCFS_ACCESSCODE\"]\npayload = {}\npayload.gw_id = conf[\"GW_ID\"]\n\n//getDate ISO8601 standard format\nvar d = new Date();\nvar yyyy = d.getUTCFullYear();\nvar MM = ('0' + (d.getUTCMonth() + 1)).slice(-2);\nvar dd = ('0' + d.getUTCDate()).slice(-2);\nvar hh = ('0' + d.getUTCHours()).slice(-2);\nvar mm = ('0' + d.getUTCMinutes()).slice(-2);\nvar ss = ('0' + d.getUTCSeconds()).slice(-2);\nvar SS = ('0' + d.getUTCMilliseconds()).slice(-3);\nvar date = yyyy + MM + dd + 'T' + hh  + mm + ss + '.' + SS + 'Z';\n\nnode.log(dataset.length)\nnode.log(i)\n\nif(dataset.length > i){\n    node.log(\"if: i is\"+i)\n    payload.idx_id = dataset[i].idx_id\n    payload.meta = {}\n    payload.meta._date = date\n    payload.meta.geo_lng = dataset[i].geo_lng\n    payload.meta.geo_lat = dataset[i].geo_lat\n\n    msg.payload = payload\n}else{\n    node.log(\"else : i is\"+i)\n    payload.idx_id = dataset[0].idx_id\n    payload.meta = {}\n    payload.meta._date = date\n    payload.meta.geo_lng = dataset[0].geo_lng\n    payload.meta.geo_lat = dataset[0].geo_lat\n    \n    msg.payload = payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1300,"wires":[["36ed259c.db66ea","e94aff19.16c6d","4683680f.21f5e8"]]},{"id":"e94aff19.16c6d","type":"iotpf http","z":"38779cd0.448eb4","name":"sending meta data","method":"PUT","ret":"txt","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":1350,"y":1360,"wires":[["9aa75302.1b507"]]},{"id":"2cc28ff6.aabd4","type":"function","z":"38779cd0.448eb4","name":"i=0","func":"var conf = global.get('config')\nflow.set('dataset', msg.payload)\nvar i = 0\nmsg.i = i\nmsg.metaloop = (msg.payload.length)\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[["d426fc23.89b5","ec616d45.2c08d"]]},{"id":"d426fc23.89b5","type":"switch","z":"38779cd0.448eb4","name":"","property":"i","propertyType":"msg","rules":[{"t":"lt","v":"metaloop","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":1340,"wires":[["3f63a42b.277b6c"],["b39a66cc.819e08"]]},{"id":"36ed259c.db66ea","type":"function","z":"38779cd0.448eb4","name":"i += 1","func":"msg.i += 1\nmsg.payload = \"finish sending meta data\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1240,"wires":[["3064f5f.baf670a"]]},{"id":"321d7da2.7b8d62","type":"inject","z":"38779cd0.448eb4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1260,"wires":[["655d18c3.f527f8"]]},{"id":"655d18c3.f527f8","type":"function","z":"38779cd0.448eb4","name":"load config","func":"var config = {}\nvar prop = global.get(\"propertiesparser\");\ntry {\n    config = prop.read(\"/root/.node-red/config.properties\")\n} catch (error) {\n    node.error(error)\n}\n\nnode.log(\"load config: \" + JSON.stringify(config));\nglobal.set('config', config)\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1340,"wires":[["b6511a57.0a79d8"]]},{"id":"3837ccdf.b6cc34","type":"function","z":"38779cd0.448eb4","name":"Where is Data","func":"var conf = global.get('config')\nvar reqid = msg.reqid\nvar reqMap = global.get('reqMap')\n \nmsg.baseUrl = conf[\"BASEURL\"] \nmsg.tenantId = conf[\"IOTPF_TENNANT_ID\"]\nmsg.resource = conf[\"IOTPF_DRCFS_PREFIX\"] + \"/response/preprocessed\"\nmsg.accessCode = conf[\"IOTPF_DRCFS_ACCESSCODE\"]\nmsg.query =\"\"\n\n//正常系を設定\nvar complete = {}\ncomplete[\"req_id\"] = reqid\ncomplete[\"gw_id\"] = conf[\"GW_ID\"]\ncomplete[\"path\"] = conf[\"IOTPF_DATA_RESOURCE\"]\n\nmsg.payload = complete\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":940,"wires":[["c632764f.192ca8"]]},{"id":"5cd12a04.1ad014","type":"function","z":"38779cd0.448eb4","name":"Progress 100%","func":"var conf = global.get('config')\n\nvar reqid = msg.reqid\nvar reqMap = global.get('reqMap')  //<req_id, msg.payload(JSON)>\nvar idxByReqId = global.get('idxByReqId')  //<req_id, <idx_id>>\n\nvar idxList = idxByReqId[reqid]\n//idxList.delete(msg.idxId);\n\nmsg.baseUrl = conf[\"BASEURL\"]\nmsg.tenantId = conf[\"IOTPF_TENNANT_ID\"]\nmsg.resource = conf[\"IOTPF_DRCFS_PREFIX\"] + \"/response/progress/\" + conf[\"GW_ID\"]\nmsg.accessCode = conf[\"IOTPF_DRCFS_ACCESSCODE\"]\nmsg.query =\"\"\n\n\nvar progress = {}\nprogress[\"req_id\"] = reqid\nprogress[\"preproc\"] = reqMap[reqid][\"preproc\"]\nprogress[\"num_tasks\"] = reqMap[reqid][\"idx_ids\"].length\nprogress[\"%complete\"] = 100\nprogress[\"gw_id\"] = conf[\"GW_ID\"]\nprogress[\"date\"] = new Date().toISOString()\nmsg.payload = progress\n\n\n//node.send(msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":940,"wires":[["ecef437b.56bee"]]},{"id":"f089cd28.eda95","type":"comment","z":"38779cd0.448eb4","name":"未取得かつ最新1件の検索指示取得","info":"","x":1280,"y":220,"wires":[]},{"id":"3064f5f.baf670a","type":"delay","z":"38779cd0.448eb4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":1120,"wires":[["d426fc23.89b5"]]},{"id":"f0079fa.100416","type":"switch","z":"38779cd0.448eb4","name":"status check","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":970,"y":200,"wires":[["9580d8e1.f258c8"],["39eb2a6c.a04a66","db102758.7df7f8"]]},{"id":"39eb2a6c.a04a66","type":"function","z":"38779cd0.448eb4","name":"error","func":"if(msg.statusCode==404){\n}else if(msg.statusCode==204){\n    msg.payload = \"no content: \" + msg.statusCode + msg.headers\n}else{\n    msg.payload = \"system error: \" + msg.statusCode + msg.headers\n}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":320,"wires":[["85dacf66.dd344"]]},{"id":"85dacf66.dd344","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1350,"y":320,"wires":[]},{"id":"f3f0f29f.8ea26","type":"comment","z":"38779cd0.448eb4","name":"statusCodeが200OK以外","info":"各種エラーログをはいて終了\nただし、400No Contentの場合は、正常系として\nログは出さない。","x":1250,"y":360,"wires":[]},{"id":"267062a1.8e587e","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"false","x":2130,"y":940,"wires":[]},{"id":"b39a66cc.819e08","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1110,"y":1380,"wires":[]},{"id":"2eab5777.538828","type":"csv","z":"38779cd0.448eb4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":0,"strings":true,"x":630,"y":1340,"wires":[["2cc28ff6.aabd4"]]},{"id":"b6511a57.0a79d8","type":"file in","z":"38779cd0.448eb4","name":"satellite.csv","filename":"/root/.node-red/satellite.csv","format":"utf8","chunk":false,"sendError":false,"x":470,"y":1340,"wires":[["2eab5777.538828"]]},{"id":"c16d82b3.6d9a","type":"comment","z":"38779cd0.448eb4","name":"送信後処理","info":"キャンセルが実行されたか？\nすべてのデータ送信は完了したか？","x":580,"y":640,"wires":[]},{"id":"db102758.7df7f8","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"headers","x":1210,"y":280,"wires":[]},{"id":"9aa75302.1b507","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1550,"y":1360,"wires":[]},{"id":"4683680f.21f5e8","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":"false","complete":"payload","x":1330,"y":1300,"wires":[]},{"id":"f4393c50.46997","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":490,"y":160,"wires":[]},{"id":"d8aef0d4.514ce","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1950,"y":40,"wires":[]},{"id":"3c8dee20.f7dbc2","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1130,"y":840,"wires":[]},{"id":"bbbee2bf.7f5dc","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"len","x":820,"y":600,"wires":[]},{"id":"762163e2.ae382c","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":830,"y":1080,"wires":[]},{"id":"977ccab6.2edda8","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1730,"y":220,"wires":[]},{"id":"c632764f.192ca8","type":"iotpf http","z":"38779cd0.448eb4","name":"connect to IoTPF","method":"PUT","ret":"txt","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":790,"y":940,"wires":[["c23c148e.53bfc8","5cd12a04.1ad014"]]},{"id":"ecef437b.56bee","type":"iotpf http","z":"38779cd0.448eb4","name":"connect to IoTPF","method":"PUT","ret":"txt","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":1210,"y":940,"wires":[["c4e7acde.3f227","a8ed532c.22806"]]},{"id":"69d9e886.9fb7d8","type":"iotpf http","z":"38779cd0.448eb4","name":"connect to IoTPF","method":"PUT","ret":"txt","baseurl":"","tls":"","tenantid":"","apiv":"v1","resource":"","query":"","accesscode":"","x":1690,"y":940,"wires":[["a0fdf54c.ab9e88","70f9bfad.b70f4"]]},{"id":"c23c148e.53bfc8","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1010,"y":1040,"wires":[]},{"id":"c4e7acde.3f227","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1430,"y":1040,"wires":[]},{"id":"a0fdf54c.ab9e88","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":1910,"y":1040,"wires":[]},{"id":"a944f39b.13eb6","type":"comment","z":"38779cd0.448eb4","name":"画像を送る","info":"バイナリリソースにjpegファイルを送信","x":580,"y":780,"wires":[]},{"id":"12910237.3d6f1e","type":"file in","z":"38779cd0.448eb4","name":"load img","filename":"","format":"","chunk":false,"sendError":false,"x":720,"y":840,"wires":[["5aa38618.0d0208"]]},{"id":"f7d24498.17ff68","type":"delay","z":"38779cd0.448eb4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":60,"wires":[["b8765def.5c5d9"]]},{"id":"9580d8e1.f258c8","type":"function","z":"38779cd0.448eb4","name":"difference check","func":"var data = msg.payload[0]._data\nvar lastData = global.get('lastData')\n\n\nif(lastData === undefined){\n    lastData = data\n    global.set('lastData',lastData)\n}else if((lastData[\"type\"] === data[\"type\"]) && (lastData[\"req_id\"] === data[\"req_id\"]) ){//same\n\n    return [null, msg];\n    \n}else {//different\n    lastData = data\n    global.set('lastData',lastData)\n}\n\nreturn [msg, null];","outputs":"2","noerr":0,"x":1220,"y":180,"wires":[["f9acfbda.3ca6e8"],[]]},{"id":"e5d62f0f.232ec","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":"false","complete":"payload","x":1510,"y":240,"wires":[]},{"id":"b9fd9b93.9cab38","type":"link in","z":"38779cd0.448eb4","name":"","links":["41e5d63c.5ab358"],"x":75,"y":740,"wires":[["d3951dda.d74f1"]]},{"id":"41e5d63c.5ab358","type":"link out","z":"38779cd0.448eb4","name":"","links":["b9fd9b93.9cab38"],"x":1895,"y":160,"wires":[]},{"id":"ad5a7eaa.d743b","type":"function","z":"38779cd0.448eb4","name":"delete global variables","func":"var reqid = msg.reqid\nvar reqMap = global.get('reqMap')\n\nvar idxByReqId = global.get('idxByReqId')\n\nnode.log(reqMap)\nnode.log(idxByReqId)\n\ndelete reqMap[reqid]\ndelete idxByReqId[reqid]\n\nglobal.set('reqMap', reqMap)\nglobal.set('idxByReqId', idxByReqId)\n\nmsg.payload = reqid + \"is canceled\"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1080,"wires":[["762163e2.ae382c"]]},{"id":"1d52bdb.d415442","type":"delay","z":"38779cd0.448eb4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":600,"wires":[["67ab7d7f.b44204"]]},{"id":"6ee99185.5e3bd","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":890,"y":500,"wires":[]},{"id":"2004ee9f.50c192","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":"false","complete":"payload","x":1070,"y":420,"wires":[]},{"id":"ec616d45.2c08d","type":"debug","z":"38779cd0.448eb4","name":"","active":true,"console":false,"complete":"payload","x":950,"y":1440,"wires":[]}]